*{margin:0;padding:0;}
.background{width:96%;height:92vh;padding:2%;background-color: rgba(255, 255, 255, 0);animation:colorchange 20s infinite;}
.items{width:20%;height:5%;padding:2%;margin:auto;background-color: #fff;border-radius: 50px;}
.color{all:unset;width:10%;text-align: center;}
.speed{all:unset;width:20%;text-align:left;}
@keyframes colorchange{
    10%{background-color:blue;}
    20%{background-color:red;}
    30%{background-color: green;}
    40%{background-color: yellow;}
}